.map-container,
.panel-container {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

#map {
  left: 0;
  width: calc(6 / 7 * 100vw);
}

#fruit-panel {
  right: 0;
  width: calc(1 / 7 * 100vw - 40px);
  background-color: #f9f9f9;
  padding: 20px;
  transition: width 0.5s ease;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0 0 10px;
}

.category-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #555;
}

.fruit-item {
  cursor: pointer;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.fruit-item:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
}

.fruit-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #ddd;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #555;
}

.fruit-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.fruit-list .fruit-item.meyve {
  background-color: #f8bbd0;
}
.fruit-list .fruit-item.sebze {
  background-color: #c8e6c9;
}
.fruit-list .fruit-item.baklagil {
  background-color: #bbdefb;
}
.fruit-list .fruit-item.kuruyemiş {
  background-color: #ffe0b2;
}
.fruit-list .fruit-item.diger {
  background-color: #b0bec5;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.button {
  flex: 1;
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
